<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
     Craps 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row class='wel'>
        
          <h6>  Welcome</h6>
    </ion-row>

    <ion-row center>
      <img src="assets/img/crap3.png">
    </ion-row>

    <ion-row center>
      <ion-col width-50 class="f">

        <ion-row >
          <h6>Your points: {{ point || ''}}</h6>
        </ion-row>

        <ion-row >
          <h6>You rolled: {{ rolled || ''}}</h6>
        </ion-row>

      </ion-col>

      <!--crap IMGS-->
      <ion-col width-50>

        <ion-row > 
           <ion-col width-50> <img src="assets/img/die{{die1}}.png"> </ion-col>
            <ion-col width-50> <img src="assets/img/die{{die2}}.png"> </ion-col>
        </ion-row>

         <ion-row > 
           <ion-col width-50> <img src="assets/img/die{{die3}}.png"> </ion-col>
           <ion-col width-50> <img src="assets/img/die{{die4}}.png"> </ion-col>
        </ion-row>
        

      </ion-col>
    </ion-row>

    <!--End of Row 3-->

    <ion-row>

     <ion-col width-50> 
        <button ion-button block (click)='play()'  [disabled]=' status == "again" '> Play </button>
     </ion-col> 

     <ion-col width-50> 
        <button ion-button block (click)='roll()' [disabled]=' status != "again"'> ROLL </button>
     </ion-col> 

    </ion-row>

    <!--End of Row 4-->

    <ion-row>
      <h6 *ngIf="status == 'again' && rolled != 0" > Your Rolled: {{rolled}} </h6>
    </ion-row>

     <ion-row>
      <h6> {{ msg }} </h6>
    </ion-row>

     <ion-row *ngIf="status == 'loss' || status == 'win'">
      <h6> Click Play to play again </h6>
    </ion-row>


  </ion-grid>

</ion-content>